In [25]:
import pandas as pd 
 
file_path = r"C:\Users\User\Desktop\test\forsister\web_clients_correct.csv"
web_clients_df = pd.read_csv(file_path) 
 
web_clients_df.head(), web_clients_df.info()

web_clients_df['age_category'] = web_clients_df['age'].apply( 
    lambda x: 'Старше 25' if x > 25 else 'Младше или равен 25' 
) 

web_clients_df[['name', 'age', 'age_category']].head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 915 entries, 0 to 914
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         915 non-null    object
 1   device_type  867 non-null    object
 2   browser      867 non-null    object
 3   sex          867 non-null    object
 4   age          867 non-null    float64
 5   bill         867 non-null    float64
 6   region       867 non-null    object
dtypes: float64(2), object(5)
memory usage: 50.2+ KB

,name,age,age_category
0,Allen Miss. Elisabeth Walton,29.0,Старше 25
1,Allison Master. Hudson Trevor,48.0,Старше 25
2,Allison Miss. Helen Loraine,48.0,Старше 25
3,Allison Mr. Hudson Joshua Creighton,30.0,Старше 25
4,Allison Mrs. Hudson J C (Bessie Waldo Daniels),25.0,Младше или равен 25
5,Anderson Mr. Harry,48.0,Старше 25
6,Andrews Miss. Kornelia Theodosia,63.0,Старше 25
7,Andrews Mr. Thomas Jr,39.0,Старше 25
8,Appleton Mrs. Edward Dale (Charlotte Lamson),53.0,Старше 25
9,Artagaveytia Mr. Ramon,71.0,Старше 25
10,Astor Col. John Jacob,47.0,Старше 25
11,Astor Mrs. John Jacob (Madeleine Talmadge Force),48.0,Старше 25
12,Aubart Mme. Leontine Pauline,24.0,Младше или равен 25
13,"Barber Miss. Ellen ""Nellie"",mobile,Firefox,fe...",NaN,Младше или равен 25
14,Barkworth Mr. Algernon Henry Wilson,80.0,Старше 25

In [27]:
filtered_df = web_clients_df[(web_clients_df['sex'] == 'male') & (web_clients_df['age'] > 30)] 
 
filtered_df.head(15)

,name,device_type,browser,sex,age,bill,region,age_category
1,Allison Master. Hudson Trevor,tablet,Opera,male,48.0,850.0,Montreal: PQ / Chesterville: ON,Старше 25
5,Anderson Mr. Harry,mobile,Firefox,male,48.0,371.0,New York: NY,Старше 25
7,Andrews Mr. Thomas Jr,tablet,Internet Explorer,male,39.0,867.0,Belfast: NI,Старше 25
9,Artagaveytia Mr. Ramon,mobile,Firefox,male,71.0,926.0,Montevideo: Uruguay,Старше 25
10,Astor Col. John Jacob,desktop,Chrome,male,47.0,100.0,New York: NY,Старше 25
14,Barkworth Mr. Algernon Henry Wilson,laptop,Chrome,male,80.0,723.0,Hessle: Yorks,Старше 25
15,Baumann Mr. John D,tablet,Opera,male,48.0,185.0,New York: NY,Старше 25
19,Beattie Mr. Thomson,mobile,Chrome,male,36.0,278.0,Winnipeg: MN,Старше 25
20,Beckwith Mr. Richard Leonard,desktop,Firefox,male,37.0,820.0,New York: NY,Старше 25
30,Blackwell Mr. Stephen Weart,mobile,Chrome,male,45.0,735.0,Trenton: NJ,Старше 25
31,Blank Mr. Henry,tablet,Internet Explorer,male,40.0,149.0,Glen Ridge: NJ,Старше 25
34,Borebank Mr. John James,desktop,Chrome,male,42.0,1253.0,London / Winnipeg: MB,Старше 25
38,Brady Mr. John Bertram,mobile,Chrome,male,41.0,658.0,Pomeroy: WA,Старше 25
39,Brandeis Mr. Emil,mobile,Chrome,male,48.0,260.0,Omaha: NE,Старше 25
40,Brewe Dr. Arthur Jackson,mobile,Internet Explorer,male,48.0,1172.0,Philadelphia: PA,Старше 25